<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="shortcut icon" href="logo.png" type="image/x-icon" />
  <title>TodayShare</title>
</head>

<body>
  <span class="path-top">
    <svg width="469" height="329" viewBox="0 0 469 329" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.1"
        d="M269.589 -136.17C253.994 -183.138 253.555 -233.259 255.377 -281.958C257.198 -330.657 261.049 -379.665 253.467 -428.323C248.583 -459.643 237.001 -493.215 211.497 -510.388C186.912 -526.935 156.405 -523.833 129.148 -518.08C108.626 -513.769 87.5438 -507.86 72.3885 -492.992C61.8623 -482.669 54.9808 -468.748 45.4702 -457.344C-7.98492 -421.712 -45.8292 -415.206 -96.5982 -425.813C-120.409 -430.779 -144.066 -438.038 -168.086 -439.769C-192.106 -441.499 -217.236 -437.08 -235.09 -421.055C-252.795 -405.152 -261.09 -379.918 -264.143 -354.8C-270.415 -303.761 -257.975 -251.053 -243.192 -200.609C-210.55 -88.9594 -166.247 18.9992 -122.046 126.662C-105.691 166.501 -89.2451 206.517 -67.6959 243.672C-55.7384 264.311 -41.3336 284.843 -21.1095 295.507C4.56329 309.052 37.0683 302.634 54.6555 280.55C84.1607 243.511 82.3408 188.954 117.19 157.724C136.376 140.549 183.496 146.666 209.103 151.637C264.038 162.286 289.377 174.991 341.381 158.297C377.061 146.849 403.991 111.646 407.849 71.3388C411.893 29.086 391.175 -19.6533 352.508 -35.234C312.574 -51.2382 283.349 -94.7005 269.589 -136.17Z"
        fill="#175CAE" />
    </svg>
  </span>

  <span class="path-top-right">
    <svg width="415" height="205" viewBox="0 0 415 205" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.1"
        d="M460.169 -266.897C410.779 -270.031 364.143 -288.4 319.672 -308.332C275.202 -328.264 231.205 -350.193 183.249 -361.39C152.38 -368.595 116.915 -370.433 91.4378 -353.219C66.8866 -336.623 58.334 -307.175 53.4575 -279.747C49.7676 -259.105 47.348 -237.345 55.4565 -217.723C61.0849 -204.096 71.414 -192.501 78.4247 -179.411C91.4378 -116.5 83.2934 -78.9742 54.4402 -35.8755C40.9161 -15.6588 25.3238 3.55613 14.7211 25.1789C4.11839 46.8016 -1.19789 71.7569 6.97138 94.3144C15.0843 116.687 35.3734 133.831 57.5184 146.072C102.492 171.007 156.022 179.217 208.331 184.407C324.079 195.966 440.772 195.331 557.153 194.68C600.218 194.44 643.482 194.182 686.003 188.12C709.619 184.765 734.052 179.101 751.515 164.344C773.691 145.615 779.917 113.072 766.03 88.4929C742.74 47.2611 691.474 28.5108 675.573 -15.5C666.836 -39.7229 690.159 -81.12 704.361 -103C734.813 -149.946 756.085 -168.681 760.087 -223.151C762.839 -260.522 740.287 -298.678 704.361 -317.355C666.7 -336.932 613.748 -335.981 584.817 -305.966C555.019 -274.935 503.773 -264.119 460.169 -266.897Z"
        fill="#175CAE" />
    </svg>
  </span>

  <header class="site-header">
    <a href="/">
      <img src="img/logo.png" alt="TodayShare log" />
      <h1 class="site-title">Today <br /><span>Share</span></h1>
    </a>
  </header>
  {{{body}}}
  <footer class="site-footer">
    <a href="https://github.com/Ptasi0r/today-share">
      <img src="../../img/github-icon.svg" alt="github icon" />
      github
    </a>
  </footer>
  <span class="path-bottom">
    <svg width="217" height="638" viewBox="0 0 217 638" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.1"
        d="M17.5892 451.83C1.9942 404.862 1.55503 354.741 3.37668 306.042C5.19834 257.343 9.04896 208.335 1.4665 159.677C-3.41748 128.357 -14.9989 94.7852 -40.5032 77.6117C-65.088 61.0653 -95.5953 64.1667 -122.852 69.9197C-143.374 74.2313 -164.456 80.1395 -179.612 95.008C-190.138 105.331 -197.019 119.252 -206.53 130.656C-259.985 166.288 -297.829 172.794 -348.598 162.187C-372.409 157.221 -396.066 149.962 -420.086 148.231C-444.106 146.501 -469.236 150.92 -487.09 166.945C-504.795 182.848 -513.09 208.082 -516.143 233.2C-522.415 284.239 -509.975 336.947 -495.192 387.391C-462.55 499.041 -418.247 606.999 -374.046 714.662C-357.691 754.501 -341.245 794.517 -319.696 831.672C-307.738 852.311 -293.334 872.843 -273.11 883.507C-247.437 897.052 -214.932 890.634 -197.344 868.55C-167.839 831.511 -169.659 776.954 -134.81 745.724C-115.624 728.549 -68.504 734.666 -42.897 739.637C12.0384 750.286 37.3772 762.991 89.3806 746.297C125.061 734.849 151.991 699.646 155.849 659.339C159.893 617.086 139.175 568.347 100.508 552.766C60.5739 536.762 31.3489 493.3 17.5892 451.83Z"
        fill="#175CAE" />
    </svg>
  </span>
  <span class="path-bottom-right">

    <svg width="252" height="119" viewBox="0 0 252 119" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.1"
        d="M460.169 103.103C410.779 99.9686 364.143 81.5999 319.672 61.6681C275.202 41.7362 231.205 19.807 183.249 8.60968C152.38 1.40546 116.915 -0.432565 91.4378 16.7813C66.8866 33.3775 58.334 62.8253 53.4575 90.2526C49.7676 110.895 47.348 132.655 55.4565 152.277C61.0849 165.904 71.414 177.499 78.4247 190.589C91.4378 253.5 83.2934 291.026 54.4402 334.125C40.9161 354.341 25.3238 373.556 14.7211 395.179C4.11839 416.802 -1.19789 441.757 6.97138 464.314C15.0843 486.687 35.3734 503.831 57.5184 516.072C102.492 541.007 156.022 549.217 208.331 554.407C324.079 565.966 440.772 565.331 557.153 564.68C600.218 564.44 643.482 564.182 686.003 558.12C709.619 554.765 734.052 549.101 751.515 534.344C773.691 515.615 779.917 483.072 766.03 458.493C742.74 417.261 691.474 398.511 675.573 354.5C666.836 330.277 690.159 288.88 704.361 267C734.813 220.054 756.085 201.319 760.087 146.849C762.839 109.478 740.287 71.3221 704.361 52.6455C666.7 33.0677 613.748 34.0194 584.817 64.0339C555.019 95.0649 503.773 105.881 460.169 103.103Z"
        fill="#175CAE" />
    </svg>

  </span>
</body>

</html>