<main class="site-main">
  <aside class="login-form">
    <div class="progressbar">
      <span class="active">1</span>
      <span>2</span>
      <span>3</span>
    </div>
    <h2>Log in to your Spotify account</h2>
    <a href="/login" class="login-btn"> <img src="img/spotify-icon.png" alt="Spotify icon" /> Log in to Spotify </a>
  </aside>
  <section class="photo-section">
    <img src="img/login-image.svg" alt="Login image from undraw.com" />
    <h2>SHARE RANDOM TRACKS FROM YOUR FAVORITES</h2>
    <span>With Today<strong>Share</strong> you can find a random track from chosen playlist and send a link to it to
      your
      friends!</span>
  </section>

</main>